<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="list-group">
  {% for crs in enrolled_courses %}
  <!--Should link to one template but pass unique course code. Must find a way to authenticate user too. Prolly authenticate in 
  python -->
    <a href="{% url 'course_server' crs.title%}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ crs.title}}</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Replace with last message in server. (like a notification message from messenger)</p>
      <div class="d-flex w-100 justify-content-between">
        <small class="text-muted">-from user1231</small>
        <form action="{% url 'remove' %}" method="POST">
          {% csrf_token %}
          <small><button style = "background:none;border:none;color: red;" name = "remove_value" value = "{{crs.title}}">Remove Course</button></small>
        </form>
      </div>
    </a>
  {% endfor %}
</div>
