<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% extends 'index.html' %}
{% block content %}    
    <div style="background-color:E9E5E5">
        <h1>Welcome, {{user.username}}</h1>
        <a href = "{% url 'logout' %}">Logout</a>
        <a href = "{% url 'home' %}">HomePage</a>
        
        <div class="pb-2 mt-4 border-bottom">
            <h3>Enrolled Courses</h3>
        </div>
    </div>
    {% include 'class_list.html' %}

       

    <div class="add_course_container" style="display: flex;flex-wrap: wrap;">    
            {{ form }}                
            <!--<div class="form-group" style="width: 400px;float:left;">
                    <select multiple class="form-control" id="exampleFormControlSelect2">
                        {% for course in crs_not_taken %}
                            <option>{{ course.title}}</option>
                        {% endfor %}
                    </select>
            </div>-->

            <div class = "row align-items-center pl-5" style="float:left">
                <button type="submit" class="btn btn-secondary">Add Course</button>            
            </div>
    </div>
{% endblock %}